.aboutPage {
    min-height: 100vh;
    background-color: #151515;
    padding-bottom: 20vmin;
}

.aboutContainer {
    padding: 20vmin 10vmin;
}
.name{
    color: #E4E4E4;
    font-size: 5vmin;
    font-weight: 600;
    margin: 10vmin 0 0.5vmin 0;
}
.smallAbout{
    color: #A29E9E;
    font-size: 8vmin;
    font-weight: 200;
    letter-spacing: 0.2px;
}
.picWrapper {
    position: relative;
}

.myPicContainer {
    position: relative;
    aspect-ratio: 1/1.2;
    border-radius: 8px;
    overflow: hidden;
}

.contactContainer {
    display: flex;
    gap: 1vmin;
    margin: 2vmin 0 10vmin 0;
}

.iconWrapper {
    position: relative;
    width: 7vmin;
    height: 7vmin;
}

.contact-logo {
    width: 100%;
    height: 100%;
}