.characteristics{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1vmin;
}
.characteristic {
    display: flex;             /* Make the parent a flex container */
    align-items: center;       /* Vertically center all child content */
    list-style: none;          /* Remove default list bullet */
    font-size: 2.5vmin;
    line-height: 1;            /* Keep line-height consistent */
    color: #fff;
    font-weight: 300;
    letter-spacing: 0px;
    transform: scaleY(0.97);
}
  
.characteristic::before {
    content: "•";              /* Use a bullet (or any symbol you like) */
    display: inline-block;     /* Ensure it's treated as an inline-block flex child */
    font-size: 5vmin;          /* Bigger bullet if desired */
    line-height: 1;            /* Match parent's line-height to help alignment */
    margin-right: 2vmin;       /* Space between bullet and text */
}


.characteristic:first-child::before{
    content: none;
}
.recommendedTitle{
    font-size: 4vmin;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin: 6vmin 0 4vmin 0;
    transform: scaleY(0.97);
}
.recommendations{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 6vmin;
    scrollbar-width: none;
}

.recommendationContainer{
    flex:  0 0 45vmin;
}
.recommendationImgContainer{
    position: relative;
    height: 30vmin;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(49, 49, 49);
}
.recommendationTitle{
    font-size: 3vmin;
    color: #fff;
    margin-top: 1vmin;
    font-weight: 500;
    letter-spacing: 0.5px;
    transform: scaleY(0.97);
}

.frontendContainer{
    padding-bottom: 20vmin;
}