.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vmin 6vmin;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.navbarContainer.scrolled {
    background-color: rgba(31, 31, 31, 0.953);
}

ul{
    display: flex;
    list-style: none;
    gap: 2vmin;
}
li{
    text-decoration: none;
}
.about{
    display: none;
}
.profileIconContainer{
    aspect-ratio: 1/1;
    width: 7vmin;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}
.profileIconContainer img{
    object-fit: contain; 
}
.navLink{
    font-size: 3vmin;
    text-decoration: none;
    color: rgb(216, 216, 216);
    transform: scaleY(0.97);

}
.logo{
    font-size: 8vmin;
    font-weight: 600;
    color: #E04949;
    text-decoration: none;
}

@media screen and (min-width: 1024px){
    .navbarContainer{
        padding: 1vmin 15vmin;
    }
    .profileIconContainer{
        width: 4.5vmin;
    }
    .logo{
        font-size: 5vmin;
    }
    ul{
        gap: 4vmin;
    }
    .navLink{
        font-size: 2vmin;
    }
    .about{
        display: inline;
    }
}