

.frontendPage, .fullStackPage, .uiuxPage{
    min-height: 100vh;
    background: linear-gradient(180deg,
        #184584 0%,
        #282b2f 50%,
        #151515 100%
    );
}
.frontendContainer, .fullStackContainer, .uiuxContainer{
    padding: 20vmin 7vmin;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 50%,
        rgba(0, 0, 0, 0.9) 100%
    );
}
.pictureContainer{
    aspect-ratio: 1/1.25;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    border: solid 1px rgb(170, 170, 170);
}

.pictureContainer::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.031) 50%,
        rgba(0, 0, 0, 0) 100%
    );
    z-index: 1;
}
.pictureContainer img{
    object-fit: fill;
    z-index: 0;
}
.textContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6vmin;
    left: 6vmin;
    
}
.textContainer, .buttonsContainer {
    z-index: 2;
}

.name, .descriptorText{
    color: #fff;
    font-weight: 600;
    font-size: 6.5vmin;
    letter-spacing: -0.5px;
    transform: scaleY(0.97);
}
.descriptorText{
    font-weight: 400;
    font-size: 4vmin;
}
.buttonsContainer{
    position: absolute;
    bottom: 4vmin;
    right: 4vmin;
    display: flex;
    gap: 2vmin;
}
.resume, .linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    padding: 1.5vmin 2vmin;
    order: 1;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    background-color: #ffffff;
    transform: scaleY(0.97);
}
.resume{
    order: 2;
}
.linkedin{
    background-color: #9797977e;
    
}
.btnIcon{
    aspect-ratio: 1/1;
    height: 4vmin;
    overflow: hidden;
    position: relative;
}
.btnText{
    font-size: 3.2vmin;
    color: #333;
    transform: scaleY(0.97);
}
.linkedin .btnText{
    color: #fff;
}




